@{ 
    ViewData["Title"] = "Interesting links";
}

<h2>Ciekawe linki</h2>

<!--Wyświetlenie listy linków-->
<ul>
    <li>
        <a href="https://www.google.pl/">Google</a>
    </li>
    <li>
        <a href="https://www.otomoto.pl/">Otomoto</a>
    </li>
    <li>
        <a href ="https://stackoverflow.com/">Stackoverflow</a>
    </li>
</ul>