/* Styl strony*/
body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Styl kolorów nagłówka tabeli*/
table thead {
    background: #949494;
    background: -moz-linear-gradient(top, #afafaf 0%, #9e9e9e 66%, #949494 100%);
    background: -webkit-linear-gradient(top, #afafaf 0%, #9e9e9e 66%, #949494 100%);
    background: linear-gradient(to bottom, #afafaf 0%, #9e9e9e 66%, #949494 100%);
}

/* Styl tabeli */
table {
    border: 3px solid #940F0F;
    text-align: center;
    float: left;
    clear: right;
    display: inline;
}
    /* Styl obramowań w tabeli*/
    table td, table th {
        border: 1px solid #949494;
        padding: 4px 4px;
    }

    /* Styl czcionki w tabeli*/
    table tbody td {
        font-size: 13px;
        color: white;
        font-family: 'Cabin', sans-serif;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'M PLUS 1', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    /* Styl czcionek nagłówka tabeli*/
    table thead th {
        font-size: 17px;
        font-weight: bold;
        color: white;
        text-align: left;
        border-left: 2px solid #948473;
    }

/* Styl zadania o wysokim priorytecie*/
.high-priority{
    background-color:firebrick;
}

/* Styl zadania o normalnym priorytecie priorytecie*/
.normal-priority{
    background-color:orange;
}

/* Styl zadania o niskim priorytecie*/
.low-priority{
    background-color:forestgreen;
}

/* Styl przycisków*/
.button {
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
}

/* Styl przycisków głównych*/
.normal {
    background: #339DFF;
    margin-bottom: 5px;
}
