
@{
    ViewData["Title"] = "Ekran Logowania";

}
@model PawełGryglewiczLab4PracDom.Models.UserData
<!--Formularz logowania-->
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <h2>Logowanie</h2>
        <!-- Pole na adres email-->
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
            </div>
        </div>
        <!-- Pole na hasło-->
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Hasło",htmlAttributes: new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hasło" } })

            </div>
        </div>

        <!--Przycisk logowania-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Zaloguj" class="btn btn-dark" />
            </div>
        </div>
        @{ 
           <!--Wyświetlenie komunikatu błędnych danych-->
            if(ViewBag.IsCorrect == false)
                {
                    <div class="alert alert-danger">
                        <strong>Błąd</strong> Błędne dane logowania
                    </div>
                }
        }
    </div>
}
