<navbar class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item-active">
            <a class="nav-link" href="#">Wyciągi</a>
        </li>
        <li class="nav-item-active">
            <a class="nav-link" href="#">Przelew</a>
        </li>
        <li class="nav-item-active">
            <a class="nav-link" href="#">Pomoc techniczna</a>
        </li>
    </ul>
</navbar>

<div>

</div>