<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System rezerwacji biletów</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mainPage.css" />
</head>
<body id="main-body-background" class="min-vh-100">
    <div class="container min-vh-100">
        <!--Nagłówek-->
        <header>
            <!--Pasek nawigacyjny-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Internetowy biletomat</a>
                <!--Kontener z elementami paska nawigacyjnego-->
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index","Home")>Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rezerwacja biletu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("ListOfPassengers","Passenger")>Lista wszystkich pasażerów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("ListOfConnections","RailwayConnection")>Lista połączeń</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("ListOfStations","Station")>Stacje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("ListOfTrains","Train")>Pociągi</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main" style="background-color: white;" class="pb-3 min-vh-100">
            @RenderBody()
        </main>

    </div>
    <div class="background-container"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
