@{
    ViewData["Title"] = "Home Page";
}

<!--Nagłówek-->
<header>
    <!--Pasek nawigacyjny-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Internetowy biletomat</a>
        <!--Kontener z elementami paska nawigacyjnego-->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=@Url.Action("Index","Home")>Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rezerwacja biletu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lista wszystkich pasażerów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lista połączeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ListOfTrains","Train")>Pociągi</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--Treść strony-->
<body>
    <!--Kontener z informacją dla użytkownika -->
    <div>
        <h3 class="display-6 text-center">Witaj w kolejowym internetowym biletomacie</h3>
        <a class="display-6 text-center ml-3" >Aby zamówić bilet lub wyświetlić odpowiednie listy, przejdź do odpowiedniej zakładki na pasku nawigacyjnym lub odpowiedniego odnośnika poniżej:
        </a>
    </div>

    <!--Kontener z odnośnikami-->
    <div class="mt-5">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action ">Zarezerwuj bilet</li>
            <li class="list-group-item list-group-item-action">Wyświetl listę wszystkich pasażerów </li>
            <li class="list-group-item list-group-item-action">Wyświetl listę wszystkich dostępnych połączeń</li>
            <li class="list-group-item list-group-item-action">Wyświetl listę stacji kolejowych </li>
            <a href=@Url.Action("ListOfTrains","Train")><li class="list-group-item list-group-item-action" >Wyświetl wszystkie używane pociągi</li></a>
        </ul>
    </div>
</body>
