@{
    ViewData["Title"] = "Home Page";
}


<!--Treść strony-->
<body>
    <!--Kontener z informacją dla użytkownika -->
    <div>
        <h3 class="display-6 text-center">Witaj w kolejowym internetowym biletomacie</h3>
        <a class="display-6 text-center ml-3" >Aby zamówić bilet lub wyświetlić odpowiednie listy, przejdź do odpowiedniej zakładki na pasku nawigacyjnym lub odpowiedniego odnośnika poniżej:
        </a>
    </div>

    <!--Kontener z odnośnikami-->
    <div class="mt-5">
        <ul class="list-group">
            <a href=@Url.Action("CreatePassenger","Passenger")><li class="list-group-item list-group-item-action ">Zarezerwuj bilet</li></a>
            <a href=@Url.Action("ListOfPassengers","Passenger")><li class="list-group-item list-group-item-action">Wyświetl listę wszystkich pasażerów </li></a>
            <a href=@Url.Action("ListOfConnections","RailwayConnection")><li class="list-group-item list-group-item-action">Wyświetl listę wszystkich dostępnych połączeń</li></a>
            <a href=@Url.Action("ListOfStations","Station")><li class="list-group-item list-group-item-action">Wyświetl listę stacji kolejowych </li></a>
            <a href=@Url.Action("ListOfTrains","Train")><li class="list-group-item list-group-item-action">Wyświetl wszystkie używane pociągi</li></a>
        </ul>
    </div>
</body>
